# Populate envs on hidraw device; we can't match in the later rule with attrs on two different parent devices.
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="37d7", ATTRS{idProduct}=="2401", IMPORT{builtin}="usb_id"
# Expose config interface to systemd
SUBSYSTEM=="hidraw", ENV{ID_VENDOR_ID}=="37d7", ENV{ID_MODEL_ID}=="2401", ATTRS{bInterfaceNumber}=="01", TAG+="systemd", ENV{SYSTEMD_WANTS}+="vader5d@%k.service"
